<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h1>Holu</h1>
        </div>
        <div class="col-md-5">
            <h1>hi!</h1>
        </div>
    </div>
</div>