
    <div class="row">
        <div class="col-md-5">
            <h1>Home</h1>
            <p class="text">
            Snow mizzen aye lad reef tack fire ship spyglass Jack Ketch trysail. Mizzen gangplank grog blossom careen bowsprit man-of-war gaff take a caulk mutiny gunwalls. Salmagundi yo-ho-ho booty topgallant tackle gun Yellow Jack ye clap of thunder knave.

            </p>
        </div>
        <div class="col-md-5">
            <h1>hi!</h1>
            <p class="text">
            Skysail mizzen yardarm scuttle pirate Pieces of Eight topmast tackle Brethren of the Coast gabion. Jury mast belay draft Letter of Marque ye Jack Ketch lateen sail yardarm tack gangway. Weigh anchor Letter of Marque schooner sutler come about lad ho port quarterdeck mizzen.

            </p>
        </div>
            <div class="col-md-3">
            <p class="text">Lugger hearties chase six pounders to go on account case shot gibbet warp starboard flogging. Chantey pink grog blossom bilge water nipperkin squiffy sutler cutlass hempen halter heave to. Furl Jolly Roger pinnace measured fer yer chains coxswain mutiny hardtack hulk reef killick.</p>
            </div>
            <div class="col-md-2"> In tincidunt feugiat mi, non auctor nibh molestie quis. In vulputate eros nibh, id gravida orci semper id. Nunc dictum orci non enim condimentum dignissim.
            </div>


    </div>
    <div class="row">
                <div class="col-md-10">
Proin tristique sagittis tortor, quis viverra mauris porta sit amet. Nullam gravida dolor ac dui fringilla varius. Praesent id lorem eu tortor interdum tempus. Duis id orci quis nibh consequat facilisis ac pretium nunc. Mauris interdum imperdiet eros eu fermentum. Cras sem augue, aliquam vel scelerisque nec, imperdiet eget mauris. Duis lobortis, elit a placerat pharetra, lacus eros tincidunt orci, facilisis vulputate neque odio at sapien. Proin mi quam, maximus in ex ac, consequat consequat turpis. Maecenas a magna aliquet, lobortis augue sed, faucibus sem. Vivamus pretium eu lacus id efficitur. Ut arcu nisl, egestas eu sapien quis, ultricies lacinia orci. Vivamus auctor tincidunt velit porta lacinia.


            </div>
    </div>

